@{
    ViewData["Title"] = "Лабораторна робота №1";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Лабораторна робота №1</h2>
            <h4>Варіант 12</h4>
        </div>

        <div class="card-body">
            <div class="mb-4">
                <h5>Завдання:</h5>
                <p>Одного неформала вигнали з роботи, і тепер йому треба якось заробляти собі життя. Подумавши, він вирішив, що зможе мати дуже непогані 
                    гроші на продажі свого волосся. Відомо, що пункти прийому купують волосся довільної довжини вартістю З у. за кожний сантиметр. 
                    Так як волосяний ринок є дуже динамічним, то ціна одного сантиметра волосся змінюється щодня, як і курс валют. Неформал є дуже добрим бізнес-аналітиком. 
                    Він зміг обчислити, якою буде ціна одного сантиметра волосся в кожен із найближчих N днів (для зручності пронумеруємо дні у хронологічному порядку від 0 до N-1). 
                    Тепер він хоче визначити, які з цих днів йому слід продавати волосся, щоб після закінчення всіх N днів заробити максимальну кількість грошей. 
                    Зауважимо, що волосся у неформалу росте тільки вночі і виростає на 1 сантиметр за ніч.</p>

                <h5>Вхідні дані:</h5>
                <p>@ViewData["Title"]</p>

                <h5>Вихідні дані:</h5>
                <p>@ViewBag.Result</p>
            </div>

            <form method="post" asp-action="RunLab1">
                <label for="inputData">Вхідні дані</label>
                <textarea name="inputData" id="inputData" rows="10"></textarea>
                <button type="submit" class="btn btn-primary">Запустити</button>
            </form>
        </div>
    </div>
</div>
